
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import 'ember-paper';

.Home-align{
  margin-left: 50px;
  margin-right: 50px;
  height:300px;
  width:300px;
  }
  #man{
    background-color: currentColor;
    font-size: 20px;
    font-weight: 200;
  }
  #myNavbar{
    color: #FFF8DC
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  #deep{
    color:deepskyblue
  }
  
  #head{
      margin-left:-2px;
      margin-right:0px;
  }
  .card{
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    margin: 25px;
}
  .signupContainer{
    background-color: lightblue;
    /* border-radius: 22px; */
    padding-right: 116px;
    margin-left: 346px;
    text-align: center;
    padding-left: 65px;
    box-shadow: 0px 0px 11px 3px #e6d9d9;
    margin-right: 300px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .Container{
    
    background-color: lightblue;
    border-radius: 0px;
    box-shadow: 0px 0px 20px #888;
    padding-right: 116px;
    margin-left: 105px;
    text-align: center;
    padding-left: 65px;
    margin-right: 79px;
    padding-bottom: 20px;
    margin-bottom: 95px;
    }
  
  .detail{
      margin-left:517px;
      margin-right:50px;
      color:grey;
  }
  .employee{
     margin-left: 75px;
    margin-right: 67px;
   
   
    }
    .upload{
     margin-left: 75px;
    margin-right: 67px;
   
    }
// #f1{
//     display:inline-block;
//     width:100px;
//     margin-top:50px;
//     margin-bottom:50px;
//     padding:37px;
    
// }
 
  .square{
    margin-left: 50px;
    margin-right: 50px;
}

.container{
   margin-left: -43px;
    margin-right: 124px;
    height: 100%;
    width: 119%;
    background: lightskyblue;
}
.component{
    margin-left: 50px;
  margin-right: 50px;
}
//   form header {
//     margin: 1px -86px -96px -10px;
//     align-content: center;
//     background: #FF3838;
//     padding: 73px 72px 35px 83px;
//     color: white;
//     font-weight: 600;
//     border-radius: 2px 10px 0 0;
//     margin-bottom: 1px;
// }

  /*form label {
    margin-right:auto;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    padding:2%
  }*/
  /*form label span {
   color: #FF3838;
    font-size: 2em;
   padding:15%;
    left: 2.5em;
    top: -10px;
    position:initial
  }*/
  /*form input {
    display: block;
    width: 85%;
    margin-left: 20px;
    padding: 5px 20px;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
  }*/
  .home{
  
    margin-left: 497px;
    // width: 402px;
    height: 457px;
    border: 3px solid white;
    // padding: 10px;
    background: skyblue;
    width: 300px;
    padding: 25px;
    margin: 25px;
  }
  form .help-1 {
    margin-left: 20px;
    font-size: 0.8em;
    opacity: 1%;
    color:grey;
  }
  

   
  form .help {
    margin-left: 20px;
    font-size: 0.8em;
    opacity: 1%;
    color:grey;
  }
  
  form button:hover {
    background-color: gray;
    color: black;;
  
  }
 
  
/*input[type="text"],
input[type="password"] {
   display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 18px;
  width: 350px;
  height: 41px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  margin-left: inherit;

}

input[type="email"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 150px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  margin-left: initial;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 1px solid #AAA;
  color: #16a085;
  transition: 0.2s ease;
}
 */


 
.btn {
    margin-left: 76px;
    margin-right: 68px;
    border: 0px solid white;
    padding: 4px;
    width: 29%;
    margin-top: 43px;
    background-color: gray;
    color: black;
    border-radius: inherit;


}

.table{
  width:500px;
  margin: auto;
  border: 3px solid #73AD21;
}
 

  input {
    width: 338px;
    height: 0px;
    margin: 21px;
    /* border-radius: 11px; */
    padding: 18px;
}



  

