
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-bootstrap/bootstrap";
@import 'ember-paper';
@import "ember-bootstrap/bootstrap/variables.scss";
@import "ember-bootstrap/bootstrap/mixins.scss";
@import "ember-bootstrap/bootstrap/normalize.scss";
@import "ember-bootstrap/bootstrap/scaffolding.scss";
@import "ember-bootstrap/bootstrap/type.scss";
@import "ember-bootstrap/bootstrap/buttons.scss";
//userdetails
img{
 
  height: 100%;
  width: 100%;
}
#req{
  margin-left:10px;
  color: #69f;
}
.division{
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom:0px;
}
#data2{
  font-family: "Montserrat", sans-serif;
  background: tomato;
  margin-bottom: 1000px;
  margin-left: 730px;
  margin-top: -1490px !important;
  width: 30%;

}
#user-btn2{
  margin-left: -11px;
  margin-right: 68px;
  border: 0px solid white;
  padding: 4px;
  width: 90%;
  height: 80%;
  margin-top: 120px !important;
  background: #69f;
}
.table2-block{
  background: lightgrey;
  margin-bottom: 1000px;
  margin-left: 730px;
  margin-top: -970px !important;
  text-align: left;
  width: 30%;
  font-size:1.5;
}
#data{
  font-family: "Montserrat", sans-serif;
  background: tomato;
  margin-bottom: 1000px;
  margin-left: 20px;
  margin-top: -10px !important;
  // text-align: center;
  width: 30%;
  
}

.table-block{
  background: lightgrey;
  margin-bottom: 1000px;
  margin-left: 20px;
  margin-top: -970px !important;
  text-align: left;
  width: 30%;
  font-size:1.5;


}
#usercont-lock{
    height: 69px;
    width: 100%;
    margin-left: 7px;
    margin-right: 91px;
    margin-bottom: 44px;

}
.user-container{
  margin: auto;
  height: 50%;
  width: 90%;
  top: 40px;
  background:lightgrey;
  z-index: 200;
  border-radius: 3px;
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.user-request{

}


//
.Home-align{
  margin-left: 50px;
  margin-right: 50px;
  height:300px;
  width:300px;
  }
  #man{
    background-color: currentColor;
    font-size: 20px;
    font-weight: 200;
  }
  #myNavbar{
    color: #FFF8DC
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  #deep{
    color:deepskyblue
  }
  
  #head{
      margin-left:-2px;
      margin-right:0px;
  }
  .card{
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    margin: 25px;
}
  .signupContainer{
    background-color: lightblue;
    /* border-radius: 22px; */
    width:500px;
    background:url('');
    padding-right: 116px;
    margin-left: 435px;
    text-align: center;
    padding-left: 65px;
    box-shadow: 0px 0px 11px 3px #e6d9d9;
    margin-right: 300px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .Container{
    background-color: lightblue;
    border-radius: 0px;
    box-shadow: 0px 0px 20px #888;
    padding-right: 116px;
    margin-left: 105px;
    text-align: center;
    padding-left: 65px;
    margin-right: 79px;
    padding-bottom: 20px;
    margin-bottom: 95px;
    margin-top: 60px;
    }
  
  .detail{
      margin-left:517px;
      margin-right:50px;
      color:grey;
  }
  .employee{
     margin-left: 75px;
    margin-right: 67px;
   
   
    }
    .upload{
     margin-left: 75px;
    margin-right: 67px;
   
    }
// #f1{
//     display:inline-block;
//     width:100px;
//     margin-top:50px;
//     margin-bottom:50px;
//     padding:37px;
    
// }
 
  .square{
    margin-left: 50px;
    margin-right: 50px;
}

.container{
   margin-left: -43px;
    margin-right: 124px;
    height: 100%;
    width: 119%;
    background: lightskyblue;
}
.component{
    margin-left: 50px;
  margin-right: 50px;
}
//   form header {
//     margin: 1px -86px -96px -10px;
//     align-content: center;
//     background: #FF3838;
//     padding: 73px 72px 35px 83px;
//     color: white;
//     font-weight: 600;
//     border-radius: 2px 10px 0 0;
//     margin-bottom: 1px;
// }

  /*form label {
    margin-right:auto;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    padding:2%
  }*/
  /*form label span {
   color: #FF3838;
    font-size: 2em;
   padding:15%;
    left: 2.5em;
    top: -10px;
    position:initial
  }*/
  /*form input {
    display: block;
    width: 85%;
    margin-left: 20px;
    padding: 5px 20px;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
  }*/
  .home{
  
    margin-left: 497px;
    // width: 402px;
    height: 457px;
    border: 3px solid white;
    // padding: 10px;
    background: skyblue;
    width: 300px;
    padding: 25px;
    margin: 25px;
  }
  form .help-1 {
    margin-left: 20px;
    font-size: 0.8em;
    opacity: 1%;
    color:grey;
  }
  

   
  form .help {
    margin-left: 20px;
    font-size: 0.8em;
    opacity: 1%;
    color:grey;
  }
  
  form button:hover {
    background-color: gray;
    color: black;;
  
  }
  
  .vl {
     border-left: 2px solid grey;
      height: 28px;
      margin-left: 27%;
     margin-top: -6%;
    padding-left: 1%;
    }
 
    .vl2{
      border-left: 2px solid grey;
      height: 28px;
      margin-left: 86%;
      margin-top: -5%;
      padding-left: 1%;
     }
     .vl3 {
      border-left: 2px solid grey;
      height: 28px;
      margin-left: 55%;
      margin-top: -5%;
      padding-left: 1%;
     }
     .vl4 {
      border-left: 2px solid grey;
      height: 28px;
      margin-left: 78%;
      margin-top: -5%;
      padding-left: 1%;
     }
   
#user-btn{
  margin-left: -9px;
  margin-right: 68px;
  border: 0px solid white;
  padding: 4px;
  width: 90%;
  height: 80%;
  margin-top: 122px !important;
  background: #69f;
}
   



.btn {
    margin-left: 76px;
    margin-right: 68px;
    border: 0px solid white;
    padding: 4px;
    width: 20%;
    margin-top: 43px;
    background: #69f;;
    border-radius: inherit;
}
.top{
  margin-bottom: 15px;
  margin-top: -25px;
  margin-left: 385px;
}

.table{
  width:500px;
  margin: auto;
  border: 3px solid #73AD21;
}
.dashbord-container{
  margin: auto;
  height: 1000px;
  width: 800px;
  top: 40px;
  z-index: 200;
  border-radius: 3px;
 margin-bottom: 100px;
 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
//overflow: hidden;
}
#cont-lock{
  width: 1267px;
  margin-left: -210px;
  margin-right: 87px;
  margin-bottom: 48px;
  position: relative;}
  .dash-label{
    margin-left: -570px;
    margin-right: 57px;
    margin-top: -41px;
  }
  .head-request{
    margin-left: 8px;
    margin-right: 57px;
    margin-top: 100px;
  }
  
  .dash-container{
   margin-left:50px;
   margin-right:50px;
  }
  
  .go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
  }
  .go-top:hover {
    background-color: #14661D;
  }
  .AllDetails{
    margin-left: 1px;
    margin-right: 87px;
    margin-top:81px;
    margin-bottom:0px;
    position: relative;
  }
  

 



  


