{{partial 'head'}}
{{#if showCreditscore}}
<div class="container-fluid" style="background-color:lightgrey">
         <div class="credit-container">
               <b style="margin-left:510px">creditscore</b><br>
               <br>
               <div class="input-container">
               Pan no:<input  id="btn" type="text" valuePath='panno' placeholder="pan number">
               <br>
              <br>
               Enter Company Name:<input  id="btn2" type="text" valuePath='CompanyName' placeholder="company name">
               <br>
               <br>
               Employee Type:<input  id="btn3" type="text" valuePath='TypeOfemployee' placeholder="Employee type">
            <br>
            <br>
               Enter Income:<input  id="btn4" type="text" valuePath='income' placeholder="income">
             <br>
             <br>
              <button  id="user-btn2" {{action "creditscore"}}>Save & Submit</button>
             
             <br>
             <br>
             </div>   
             </div>
  
    </div>
{{/if}}