{{partial 'head'}}
{{#if isShowHome}}
<div class="container-fluid">
<header class="w3-container  w3-center" style="padding:128px 16px">rrquest id generated should display
          <button type="button" id="myButton" class="btn btn-primary"  style="margin-left:953px;margin-top: -210px; width:19%"{{action "gotoPreclose"}}>Pre-closure</button>
         <h1 class="w3-margin w3-jumbo">Welcome To Mortgage Loan</h1>
         <p class="w3-xlarge">Mortgage process</p>
         <button type="button" id="myButton"  class="btn btn-primary" {{action "gotoApply"}}>Apply New Request</button>
      </header>
      <!-- First Grid -->
      <div class="w3-row-padding w3-padding-64 w3-container">
         {{!-- <div class="w3-content">
            <div class="w3-twothird">
               <h1>Loan Process</h1>
               <h5 class="w3-padding-32">As an experienced loan officer I have the knowledge and expertise you need to explore the many financing options available. Ensuring that you make the right choice for you and your family is my ultimate goal, and I am committed to providing my customers with mortgage services that exceed their expectations.</h5>
               <p class="w3-text-grey">As an experienced loan officer I have the knowledge and expertise you need to explore the many financing options available. Ensuring that you make the right choice for you and your family is my ultimate goal, and I am committed to providing my customers with mortgage services that exceed their expectations.</p>
            </div>
            <div class="w3-third w3-center">
               <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
         </div> --}}
      </div>
      <!-- Second Grid -->
      {{!-- <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
         <div class="w3-content">
            <div class="w3-third w3-center">
               <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
            </div>
            <div class="w3-twothird">
               <h1>Bank </h1>
               <h5 class="w3-padding-32">As an experienced loan officer I have the knowledge and expertise you need to explore the many financing options available. Ensuring that you make the right choice for you and your family is my ultimate goal, and I am committed to providing my customers with mortgage services that exceed their expectations.</h5>
            </div>
         </div>
      </div>
      <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
         <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
      </div> --}}
      
      <!-- Footer -->
      <footer class="w3-container w3-padding-64 w3-center w3-opacity">
         <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
         </div>
         <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">rapid</a></p>
      </footer>
      </div>
      {{/if}}




